{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h2>Create new Episode</h2>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('episode_index') }}">back to list</a>
{% endblock %}
