{% extends "layoutEmail.html.twig" %}

{% block body %}
<h2>New episode {{ episode.title }} created</h2>

<p>Hello, the new episode N°: {{ episode.number }} - {{ episode.title }} has been created on Wild Series</p>

<p>Synopsis : {{episode.synopsis }}
    {% endblock %}
    