.navbar{
  background-color: darkblue;
  .navbar-brand{
    font-size: 3.5em;
    color: black;
  }
  .nav-item{
    margin: 0 40px;
    list-style: none;
    .nav-link{
      background-color: #B0413E;
      color: black;
    }
  }



}